<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiBaseUri" value="https://api.bondora.com" />
    <add key="OAuthAuthorizeUri" value="https://www.bondora.com/oauth/authorize" />
    <add key="ClientId" value="d189953b9c8142819ec05fba78435096" />
    <add key="ClientSecret" value="OdE42jgfUPEOZD7h5cFcGGuIcpW58liRloOzSflvtx6eo6bp" />
    <add key="RedirectUri" value="" />
    <add key="OAuthScopes" value="BidsEdit,BidsRead,Investments,SmBuy,SmSell" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>